* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-bg-color: #1f2937;
  --main-hero-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --button-cta-color: #3882f6;
  --quote-section-color: #e5e7eb;
}

/* .page-container {
  width: 85%;
  margin: 0 auto;
} */

/* HERO-SECTION */
.nav-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  padding-top: 10px;
}

.nav-header ul {
  display: flex;
  gap: 32px;
  list-style: none;
  color: var(--secondary-text);
  font-size: 18px;
}

.nav-header a {
  text-decoration: none;
  list-style: none;
  color: var(--main-hero-text);
  
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

a:link, :visited {
  color: var(--main-hero-text)
  text-decoration: none;
}


a:hover {
  color: #ec5946e2;
  font-weight: bold;
}

a:active {
  font-size: italic;
}

.main-hero-section {
  background-color: var(--main-bg-color);
  color: var(--secondary-text);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 80px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

h1 {
  width: 60%;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 48px;
  color: var(--main-hero-text);
}

.hero-paragraph {
  margin-bottom: 32px;
  width: 60%;
  font-size: 18px;
  color: var(--secondary-text);
}

.hero-main-text button {
  background-color: var(--button-cta-color);
  color: var(--main-hero-text);
  padding: 3px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* RANDOM SECTION */
.random-information-section {
  padding: 30px 10% 6% 10%;
}

ul img {
  width: 120px;
  height: auto;
}

.random-info-images {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 36px;
}

.random-info-images p{
  width: 90%;
  font-size: 18px;
}

h2 {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}


.random-info-images img {
  width: 280px;
  height: auto;
}
.random-info-images p {
  font-size: 18px;
}


/* QUOTE SECTION */
.quote-section {
  background-color: var(--quote-section-color);
  padding: 6% 10% 6% 10%;
}
.quote-section p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  width: 75%;
}

.quote {
  /* text-align: left; */
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  margin-left: 60%;
  font-weight: bold;
  margin-top: 1.5%;
}

/* CTA SECTION */
.cta-container {
  padding: 24px 22px;
  background-color: var(--button-cta-color);
  color: #e5e7eb;
  align-items: center;
  border-radius: 8px;
  width: 70%;
  /* height: 50px; */
  /* display: block; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-section {
  padding: 100px 160px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container .button {
  background-color: var(--button-cta-color);
  color: var(--main-hero-text);
  padding: 2px 12px;
  border-radius: 4px;
  border: solid var(--main-hero-text) 1px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.cta-text p {
  color: var(--secondary-text);
  font-size: 12px;
}
.cta-text h3{
  color: var(--main-hero-text);
}

/* FOOTER SECTION */
footer {
  color: #e5e7eb;
  font-size: 12px;
  background-color: var(--main-bg-color);
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  width: 85%;
  margin: 0 auto;
}
